### Import data

In [1]:
import pandas as pd

In [16]:
cereals_path = '/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 9 Group by/Data9/cereals.csv'
fortune_path = '/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 9 Group by/Data9/fortune1000.csv'

In [15]:
df_cereals = pd.read_csv(cereals_path)
df_cereals.head()

                        Name    Manufacturer  Type  Calories  Fiber  Sugars
0                  100% Bran         Nabisco  Cold        70   10.0       6
1          100% Natural Bran     Quaker Oats  Cold       120    2.0       8
2                   All-Bran       Kellogg's  Cold        70    9.0       5
3  All-Bran with Extra Fiber       Kellogg's  Cold        50   14.0       0
4             Almond Delight  Ralston Purina  Cold       110    1.0       8

In [17]:
df_fortune = pd.read_csv(fortune_path)
df_fortune.head()

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
1,Exxon Mobil,244363.0,19710.0,71200,Energy,Petroleum Refining
2,Berkshire Hathaway,242137.0,44940.0,377000,Financials,Insurance: Property and Casualty (Stock)
3,Apple,229234.0,48351.0,123000,Technology,"Computers, Office Equipment"
4,UnitedHealth Group,201159.0,10558.0,260000,Health Care,Health Care: Insurance and Managed Care

### Example

In [2]:
food_data = {
"Item": ["Banana", "Cucumber", "Orange", "Tomato", "Watermelon"],
"Type": ["Fruit", "Vegetable", "Fruit", "Vegetable", "Fruit"],
"Price": [0.99, 1.25, 0.25, 0.33, 3.00]
}

In [3]:
supermarket = pd.DataFrame(data = food_data)
print(supermarket)

         Item       Type  Price
0      Banana      Fruit   0.99
1    Cucumber  Vegetable   1.25
2      Orange      Fruit   0.25
3      Tomato  Vegetable   0.33
4  Watermelon      Fruit   3.00

In [6]:
groups = supermarket.groupby("Type")    
groups

In [7]:
groups.get_group("Fruit")

         Item   Type  Price
0      Banana  Fruit   0.99
2      Orange  Fruit   0.25
4  Watermelon  Fruit   3.00

In [11]:
groups.sum()

                             Item  Price
Type
Fruit      BananaOrangeWatermelon   4.24
Vegetable          CucumberTomato   1.58

### Creating a GroupBy Object from a Data Set

In [20]:
in_retailing = df_fortune["Sector"] == "Retailing"
retail_companies = df_fortune[in_retailing]
retail_companies.head()

,Company,Revenues,Profits,Employees,Sector,Industry
0,Walmart,500343.0,9862.0,2300000,Retailing,General Merchandisers
7,Amazon.com,177866.0,3033.0,566000,Retailing,Internet Services and Retailing
14,Costco,129025.0,2679.0,182000,Retailing,General Merchandisers
22,Home Depot,100904.0,8630.0,413000,Retailing,Specialty Retailers: Other
38,Target,71879.0,2934.0,345000,Retailing,General Merchandisers

In [21]:
retail_companies["Revenues"].head()

0     500343.0
7     177866.0
14    129025.0
22    100904.0
38     71879.0
Name: Revenues, dtype: float64

In [22]:
retail_companies["Revenues"].mean()

21874.714285714286

In [24]:
sectors = df_fortune.groupby("Sector")
sectors

In [25]:
len(sectors)

21

In [28]:
df_fortune["Sector"].nunique()

21

In [29]:
sectors.size()

Sector
Aerospace & Defense               25
Apparel                           14
Business Services                 53
Chemicals                         33
Energy                           107
Engineering & Construction        27
Financials                       155
Food &  Drug Stores               12
Food, Beverages & Tobacco         37
Health Care                       71
Hotels, Restaurants & Leisure     26
Household Products                28
Industrials                       49
Materials                         45
Media                             25
Motor Vehicles & Parts            19
Retailing                         77
Technology                       103
Telecommunications                10
Transportation                    40
Wholesalers                       44
dtype: int64