In [21]:
import pandas as pd

In [22]:
inspections_path = '/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 6 Text data processing/Data/chicago_food_inspections.csv'

In [23]:
df_inspections = pd.read_csv(inspections_path)

In [24]:
df_inspections.shape

(153810, 2)

In [25]:
df_inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153810 entries, 0 to 153809
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    153810 non-null  object
 1   Risk    153744 non-null  object
dtypes: object(2)
memory usage: 2.3+ MB

In [26]:
df_inspections.nunique()

Name    92553
Risk        4
dtype: int64

In [27]:
df_inspections['Risk'] = df_inspections['Risk'].astype('category')

In [28]:
df_inspections.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 153810 entries, 0 to 153809
Data columns (total 2 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Name    153810 non-null  object
 1   Risk    153744 non-null  category
dtypes: category(1), object(1)
memory usage: 1.3+ MB

In [29]:
df_inspections.head()

                          Name             Risk
0   MARRIOT MARQUIS CHICAGO       Risk 1 (High)
1                  JETS PIZZA   Risk 2 (Medium)
2                   ROOM 1520      Risk 3 (Low)
3    MARRIOT MARQUIS CHICAGO      Risk 1 (High)
4                CHARTWELLS       Risk 1 (High)

### Letter Casing and Whitespace

**Check names for extra spaces**

In [30]:
df_inspections['Name'].values

array([' MARRIOT MARQUIS CHICAGO   ', ' JETS PIZZA ', '   ROOM 1520 ',
       ..., ' Cafe 608 ', "  mr.daniel's ", '   TEMPO CAFE '],
      dtype=object)

#### Remove left and right extra spaces

**Check how many spaces we got in the Name column**

In [31]:
df_inspections['Name'].str.contains(r'^\s+|\s+$').sum()

153809

In [32]:
df_inspections['Name'] = df_inspections['Name'].str.lstrip().str.rstrip()

In [33]:
df_inspections['Name'].values

array(['MARRIOT MARQUIS CHICAGO', 'JETS PIZZA', 'ROOM 1520', ...,
       'Cafe 608', "mr.daniel's", 'TEMPO CAFE'], dtype=object)

In [34]:
#check Name column for extra spaces from left an right
df_inspections['Name'].str.contains(r'^\s+|\s+$').sum()

0

**Also we can use df_inspections['Name'].str.strip() - to remove spaces from both sides**

#### Change first letter to uppercase

**str.title() method changes first letter in the each word**

In [35]:
# Change first letter to uppercase
df_inspections['Name'] = df_inspections['Name'].str.title()

In [36]:
df_inspections.head(10)

                        Name             Risk
0    Marriot Marquis Chicago    Risk 1 (High)
1                 Jets Pizza  Risk 2 (Medium)
2                  Room 1520     Risk 3 (Low)
3    Marriot Marquis Chicago    Risk 1 (High)
4                 Chartwells    Risk 1 (High)
5      Shrimp'S Fish Chicken  Risk 2 (Medium)
6            Art'S Drive Inn    Risk 1 (High)
7                    Vincent    Risk 1 (High)
8  Captain Hooks Of Dan Ryan  Risk 2 (Medium)
9           Jibarito'S Y Mas    Risk 1 (High)

### String Slicing

In [37]:
df_inspections["Risk"].head()

0      Risk 1 (High)
1    Risk 2 (Medium)
2       Risk 3 (Low)
3      Risk 1 (High)
4      Risk 1 (High)
Name: Risk, dtype: category
Categories (4, object): ['All', 'Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)']

**Cut the number of symbols from each row in the column Risk**

In [38]:
df_inspections["Risk"].str.slice(5, 6).head()

0    1
1    2
2    3
3    1
4    1
Name: Risk, dtype: object

**Next code returns the same result**

In [41]:
df_inspections["Risk"].str[5:6].head()

0    1
1    2
2    3
3    1
4    1
Name: Risk, dtype: object

#### Retrieve the type of Rysk from each column

In [44]:
df_inspections["Risk"].head()

0      Risk 1 (High)
1    Risk 2 (Medium)
2       Risk 3 (Low)
3      Risk 1 (High)
4      Risk 1 (High)
Name: Risk, dtype: category
Categories (4, object): ['All', 'Risk 1 (High)', 'Risk 2 (Medium)', 'Risk 3 (Low)']

**Example 1**

In [43]:
df_inspections["Risk"].str[8:-1].head()

0      High
1    Medium
2       Low
3      High
4      High
Name: Risk, dtype: object

**Example 2**

In [46]:
df_inspections["Risk"].str.slice(8, -1).head()

0      High
1    Medium
2       Low
3      High
4      High
Name: Risk, dtype: object

**Example 3**

In [47]:
df_inspections["Risk"].str.slice(8).str.rstrip(")").head()

0      High
1    Medium
2       Low
3      High
4      High
Name: Risk, dtype: object

**Example 4**

In [48]:
df_inspections["Risk"].str.slice(8).str.replace(")", "").head()

0      High
1    Medium
2       Low
3      High
4      High
Name: Risk, dtype: object