In [1]:
import numpy as np
import pandas as pd

#### Classes, and Instances

In [4]:
# Creating a Series 
pd.Series()
# Populate it with data
ice_cream_flavors = [
"Chocolate",
"Vanilla",
"Strawberry",
"Rum Raisin",
]

pd.Series(ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

In [5]:
# The same as above, but with the data= keyword argument
pd.Series(data = ice_cream_flavors)

0     Chocolate
1       Vanilla
2    Strawberry
3    Rum Raisin
dtype: object

#### Customizing the Series Index

In [6]:
days_of_week = ("Monday", "Wednesday", "Friday", "Saturday")
pd.Series(data = ice_cream_flavors, index = days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

In [7]:
# same logic
pd.Series(ice_cream_flavors, days_of_week)

Monday        Chocolate
Wednesday       Vanilla
Friday       Strawberry
Saturday     Rum Raisin
dtype: object

#### Series types

In [ ]:
bunch_of_bools = [True, False, False]
pd.Series(bunch_of_bools).dtype # would return bool
pd.Series(bunch_of_bools)

0     True
1    False
2    False
dtype: bool

In [ ]:
stock_prices = [985.32, 950.44]
time_of_day = ["Open", "Close"]
pd.Series(data = stock_prices, index = time_of_day).dtype # would return float64
pd.Series(data = stock_prices, index = time_of_day)

Open     985.32
Close    950.44
dtype: float64

In [16]:
lucky_numbers = [4, 8, 15, 16, 23, 42]
pd.Series(lucky_numbers).dtype # would return int64
pd.Series(lucky_numbers)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [ ]:
pd.Series(lucky_numbers, dtype = "float") # would return float64

0     4.0
1     8.0
2    15.0
3    16.0
4    23.0
5    42.0
dtype: float64

##### Nan type

In [19]:
temperatures = [94, 88, np.nan, 91]
pd.Series(data = temperatures)

0    94.0
1    88.0
2     NaN
3    91.0
dtype: float64

#### Create a Series from Python Objects

In [20]:
calorie_info = {
"Cereal": 125,
"Chocolate Bar": 406,
"Ice Cream Sundae": 342,
}

pd.Series(calorie_info)

Cereal              125
Chocolate Bar       406
Ice Cream Sundae    342
dtype: int64

In [21]:
# Create a Series using a tuple as data
pd.Series(("John", "Jane", "Jack", "Jill"))

0    John
1    Jane
2    Jack
3    Jill
dtype: object

In [22]:
rgb_colors = [(120, 41, 26), (196, 165, 45)]
pd.Series(rgb_colors)

0     (120, 41, 26)
1    (196, 165, 45)
dtype: object

In [ ]:
# Using the SET in the Series will lead to an error
names = {"John", "Jane", "Jack", "Jill"}
pd.Series(names) # would raise TypeError

**TypeError: 'set' type is unordered**

In [ ]:
# convert the set to a list first
pd.Series(list(names)) # would work

0    Jane
1    Jill
2    John
3    Jack
dtype: object

#### Series Attributes

In [28]:
# Series type
type(pd.Series())

pandas.core.series.Series

In [34]:
diet = {
"Cereal": 125,
"Chocolate Bar": 406,
"Ice Cream Sundae": 342,
}
diet = pd.Series(diet)

In [ ]:
# the elements in the Series
diet.values

array([125, 406, 342])

In [42]:
# return the index (labels) of the Series
diet.index

Index(['Cereal', 'Chocolate Bar', 'Ice Cream Sundae'], dtype='object')

In [41]:
# the type of data stored in the Series
diet.dtype

dtype('int64')

In [37]:
type(diet.index)

pandas.core.indexes.base.Index

In [40]:
# the number of elements in the Series
diet.size

3

In [43]:
# returns True if there are no duplicate values in the Series
diet.is_unique

True

In [44]:
pd.Series(data = [3, 3]).is_unique

False

In [47]:
# returns True if the values in the Series are in ascending order
pd.Series(data = [1, 3, 6]).is_monotonic_increasing

True

#### Retrieving the First and Last Rows

In [48]:
values = range(0,500, 5)
nums = pd.Series(data = values)
nums

0       0
1       5
2      10
3      15
4      20
     ...
95    475
96    480
97    485
98    490
99    495
Length: 100, dtype: int64

In [52]:
nums.info()

<class 'pandas.core.series.Series'>
RangeIndex: 100 entries, 0 to 99
Series name: None
Non-Null Count  Dtype
--------------  -----
100 non-null    int64
dtypes: int64(1)
memory usage: 932.0 bytes

In [54]:
nums.head() # first 5 rows

0     0
1     5
2    10
3    15
4    20
dtype: int64

In [ ]:
# last 3 rows
nums.tail(n=3)

97    485
98    490
99    495
dtype: int64

#### Mathematical Operations

In [58]:
numbers = pd.Series([1, 2, 3, np.nan, 4, 5])
numbers

0    1.0
1    2.0
2    3.0
3    NaN
4    4.0
5    5.0
dtype: float64

In [59]:
# count of non-missing values
numbers.count()

5

In [60]:
# sum of values, excluding missing values
numbers.sum()

15.0

In [ ]:
# sum of values, excluding missing values minimum 3 values used
numbers.sum(min_count=3)

15.0

In [ ]:
# multiplication of values, excluding missing values
numbers.product()

120.0

In [63]:
# cumulative amounts, excluding missing values
numbers.cumsum()

0     1.0
1     3.0
2     6.0
3     NaN
4    10.0
5    15.0
dtype: float64

In [ ]:
# This makes it easy to determine how much the value at each data point has changed compared to the previous one.
# current value - previous value / previous value
# If the current value is NaN, the result will be Nan or 0.0
# For the first value in the Series, there is no previous value, so the result is
numbers.pct_change()

/var/folders/pg/x6kyk1l92fj8q4332g1j8rnw0000gp/T/ipykernel_56140/3658123203.py:2: FutureWarning: The default fill_method='pad' in Series.pct_change is deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change()

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [68]:
numbers.pct_change(fill_method="ffill")

/var/folders/pg/x6kyk1l92fj8q4332g1j8rnw0000gp/T/ipykernel_56140/36891976.py:1: FutureWarning: The 'fill_method' keyword being not None and the 'limit' keyword in Series.pct_change are deprecated and will be removed in a future version. Either fill in any non-leading NA values prior to calling pct_change or specify 'fill_method=None' to not fill NA values.
  numbers.pct_change(fill_method="ffill")

0         NaN
1    1.000000
2    0.500000
3    0.000000
4    0.333333
5    0.250000
dtype: float64

In [ ]:
# returns the median of the values, excluding missing values
numbers.median()

3.0

In [ ]:
# Return sample standard deviation over requested axis.
numbers.std()

1.5811388300841898

In [ ]:
# returns the minimum of the values, excluding missing values
numbers.min()

1.0

In [ ]:
# returns the maximum of the values, excluding missing values
numbers.max()

5.0

In [73]:
animals = pd.Series(["koala", "aardvark", "zebra"])
animals

0       koala
1    aardvark
2       zebra
dtype: object

In [ ]:
# returns the maximum of the values, excluding missing values closing to the end of the alphabet
animals.max()

'zebra'

In [ ]:
# returns the minimum of the values, excluding missing values closing to the start of the alphabet
animals.min()

'aardvark'

In [ ]:
# provides a summary of statistics for the Series
numbers.describe()

count    5.000000
mean     3.000000
std      1.581139
min      1.000000
25%      2.000000
50%      3.000000
75%      4.000000
max      5.000000
dtype: float64

In [ ]:
# return the unique values in the Series
authors = pd.Series(
["Hemingway", "Orwell", "Dostoevsky", "Fitzgerald", "Orwell"]
)
authors.unique()

array(['Hemingway', 'Orwell', 'Dostoevsky', 'Fitzgerald'], dtype=object)

In [78]:
# return tne number of unique values in the Series
authors.nunique()

4

#### Arithmetic Operations

In [79]:
s1 = pd.Series(data = [5, np.nan, 15], index = ["A", "B", "C"])
s1

A     5.0
B     NaN
C    15.0
dtype: float64

In [81]:
# Add 5 to each element in the Series
s1 + 5

A    10.0
B     NaN
C    20.0
dtype: float64

In [82]:
# the same as above
s1.add(5)

A    10.0
B     NaN
C    20.0
dtype: float64

In [83]:
# subtract 5 from each element in the Series
s1 - 5

A     0.0
B     NaN
C    10.0
dtype: float64

In [ ]:
# the same as above
s1.sub(5)
s1.subtract(5)

In [91]:
# Multiply each element in the Series by 2
s1 * 2
s1.mul(2)
s1.multiply(2)

A    10.0
B     NaN
C    30.0
dtype: float64

In [93]:
# Divide each element in the Series by 2
s1 / 2
s1.div(2)
s1.divide(2)

A    2.5
B    NaN
C    7.5
dtype: float64

In [94]:
# Integer (floor) division of each element in the Series by 4
s1 // 4
s1.floordiv(4)

A    1.0
B    NaN
C    3.0
dtype: float64

In [95]:
# returns the remainder of the division.
s1 % 3
s1.mod(3)

A    2.0
B    NaN
C    0.0
dtype: float64

#### Broadcasting

In [96]:
s1 = pd.Series([1, 2, 3], index = ["A", "B", "C"])
s2 = pd.Series([4, 5, 6], index = ["A", "B", "C"])

In [ ]:
# arrays will be aligned by their index labels
s1 + s2

A    5
B    7
C    9
dtype: int64

In [98]:
s1 = pd.Series(data = [3, 6, np.nan, 12])
s2 = pd.Series(data = [2, 6, np.nan, 12])

In [100]:
# compare each element in s1 to the corresponding element in s2
# Nan is not equal to Nan
s1 == s2
# or 
s1.eq(s2)

0    False
1     True
2    False
3     True
dtype: bool

In [102]:
# compare each element in s1 to the corresponding element in s2
s1 != s2
# or
s1.ne(s2)

0     True
1    False
2     True
3    False
dtype: bool