In [3]:
import pandas as pd

In [19]:
# file paths
pokemon_path = "/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 3 Series methods/Data/pokemon.csv"
google_stocks_path = "/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 3 Series methods/Data/google_stocks.csv"
revolutionary_war_path = "/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 3 Series methods/Data/revolutionary_war.csv"

#### Import csv files

In [4]:
# these two lines are equivalent
pd.read_csv(filepath_or_buffer = google_stocks_path)
pd.read_csv(google_stocks_path)

            Date    Close
0     2004-08-19    49.98
1     2004-08-20    53.95
2     2004-08-23    54.50
3     2004-08-24    52.24
4     2004-08-25    52.80
...          ...      ...
3819  2019-10-21  1246.15
3820  2019-10-22  1242.80
3821  2019-10-23  1259.13
3822  2019-10-24  1260.99
3823  2019-10-25  1265.13

[3824 rows x 2 columns]

In [5]:
# let's set the index column to be "Pokemon"
pd.read_csv(filepath_or_buffer = pokemon_path,index_col = "Pokemon")

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]

In [6]:
pokemon = pd.read_csv(pokemon_path, index_col = "Pokemon")

In [13]:
pokemon.head()

                      Type
Pokemon
Bulbasaur   Grass / Poison
Ivysaur     Grass / Poison
Venusaur    Grass / Poison
Charmander            Fire
Charmeleon            Fire

In [18]:
google = pd.read_csv(google_stocks_path, parse_dates = ["Date"], index_col=["Date"])
google.head()

            Close
Date
2004-08-19  49.98
2004-08-20  53.95
2004-08-23  54.50
2004-08-24  52.24
2004-08-25  52.80

In [24]:
battles = pd.read_csv(revolutionary_war_path, index_col=["Start Date"], parse_dates=["Start Date"], usecols=['State', 'Start Date'])
battles.head()

                    State
Start Date
1774-09-01  Massachusetts
1774-12-14  New Hampshire
1775-04-19  Massachusetts
1775-04-19  Massachusetts
1775-04-20       Virginia

In [28]:
# convert dataframes to series
google_close = google["Close"]
battles_state = battles["State"]
pokemon_type = pokemon["Type"]

In [30]:
type(pokemon_type)

pandas.core.series.Series

#### Sorting a Series

In [33]:
google_close.sort_values().head()

Date
2004-09-03    49.82
2004-09-01    49.94
2004-08-19    49.98
2004-09-02    50.57
2004-09-07    50.60
Name: Close, dtype: float64

In [32]:
battles_state.sort_values(ascending = False).head()

Start Date
1783-01-22    Virginia
1781-09-28    Virginia
1779-05-10    Virginia
1781-09-05    Virginia
1781-07-06    Virginia
Name: State, dtype: object

In [34]:
# Sorting a Series with Upper and Lower Case
pd.Series(data = ["Adam", "adam", "Ben"]).sort_values()

0    Adam
2     Ben
1    adam
dtype: object

In [ ]:
# sort Series with na_position parameter: last  - nan will be at the bottom
battles_state.sort_values(na_position="last").tail()

Start Date
1782-08-08    NaN
1782-08-25    NaN
1782-09-13    NaN
1782-10-18    NaN
1782-12-06    NaN
Name: State, dtype: object

In [ ]:
# sort Series with na_position parameter: first - nan will be on top
battles_state.sort_values(na_position="first").head()

Start Date
1775-09-17    NaN
1775-12-31    NaN
1776-03-03    NaN
1776-03-25    NaN
1776-05-18    NaN
Name: State, dtype: object

In [38]:
# remove nan values
battles_state.dropna().sort_values().head()

Start Date
1781-09-06    Connecticut
1779-07-05    Connecticut
1777-04-27    Connecticut
1777-09-03       Delaware
1777-05-17        Florida
Name: State, dtype: object

In [40]:
# sorting by index
pokemon_type.sort_index().head()

Pokemon
Abomasnow      Grass / Ice
Abra               Psychic
Absol                 Dark
Accelgor               Bug
Aegislash    Steel / Ghost
Name: Type, dtype: object

In [42]:
# sorting date by index will sort it chronologically
battles_state.sort_index().head()

Start Date
1774-09-01    Massachusetts
1774-12-14    New Hampshire
1775-04-19    Massachusetts
1775-04-19    Massachusetts
1775-04-20         Virginia
Name: State, dtype: object

In [ ]:
# sorting date by index with na_position parameter will return NaT - not a time - first
battles_state.sort_index(na_position='first').head()

Start Date
NaT              New Jersey
NaT                Virginia
NaT                     NaN
NaT                     NaN
1774-09-01    Massachusetts
Name: State, dtype: object