In [1]:
import pandas as pd

In [ ]:
# file paths
pokemon = "/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 3 Series methods/Data/pokemon.csv"
google_stocks = "/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 3 Series methods/Data/google_stocks.csv"

In [9]:
# these two lines are equivalent
pd.read_csv(filepath_or_buffer = google_stocks)
pd.read_csv(google_stocks)

            Date    Close
0     2004-08-19    49.98
1     2004-08-20    53.95
2     2004-08-23    54.50
3     2004-08-24    52.24
4     2004-08-25    52.80
...          ...      ...
3819  2019-10-21  1246.15
3820  2019-10-22  1242.80
3821  2019-10-23  1259.13
3822  2019-10-24  1260.99
3823  2019-10-25  1265.13

[3824 rows x 2 columns]

In [10]:
# let's set the index column to be "Pokemon"
pd.read_csv(filepath_or_buffer = pokemon,index_col = "Pokemon")

                       Type
Pokemon
Bulbasaur    Grass / Poison
Ivysaur      Grass / Poison
Venusaur     Grass / Poison
Charmander             Fire
Charmeleon             Fire
...                     ...
Stakataka      Rock / Steel
Blacephalon    Fire / Ghost
Zeraora            Electric
Meltan                Steel
Melmetal              Steel

[809 rows x 1 columns]