#### Import data

In [1]:
import pandas as pd

In [3]:
file = '/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 1/Data/movies.csv'

In [4]:
pd.read_csv(file)

     Rank                         Title           Studio       Gross  Year
0       1             Avengers: Endgame      Buena Vista  $2,796.30   2019
1       2                        Avatar              Fox  $2,789.70   2009
2       3                       Titanic        Paramount  $2,187.50   1997
3       4  Star Wars: The Force Awakens      Buena Vista  $2,068.20   2015
4       5        Avengers: Infinity War      Buena Vista  $2,048.40   2018
..    ...                           ...              ...         ...   ...
777   778                     Yogi Bear  Warner Brothers    $201.60   2010
778   779           Garfield: The Movie              Fox    $200.80   2004
779   780                   Cats & Dogs  Warner Brothers    $200.70   2001
780   781      The Hunt for Red October        Paramount    $200.50   1990
781   782                      Valkyrie              MGM    $200.30   2008

[782 rows x 5 columns]

#### Manipulating a DataFrame

Use the Title column as Index

In [7]:
movies = pd.read_csv(file, index_col='Title')

First five records

In [10]:
movies.head()

                              Rank       Studio       Gross  Year
Title
Avengers: Endgame                1  Buena Vista  $2,796.30   2019
Avatar                           2          Fox  $2,789.70   2009
Titanic                          3    Paramount  $2,187.50   1997
Star Wars: The Force Awakens     4  Buena Vista  $2,068.20   2015
Avengers: Infinity War           5  Buena Vista  $2,048.40   2018

Last five records

In [9]:
movies.tail()

                          Rank           Studio     Gross  Year
Title
Yogi Bear                  778  Warner Brothers  $201.60   2010
Garfield: The Movie        779              Fox  $200.80   2004
Cats & Dogs                780  Warner Brothers  $200.70   2001
The Hunt for Red October   781        Paramount  $200.50   1990
Valkyrie                   782              MGM  $200.30   2008

How many records in movies dataframe

In [11]:
len(movies)

782

How many records and columns in the dataframe

In [12]:
movies.shape

(782, 4)

How many ceils in df

In [13]:
movies.size

3128

Types of columns

In [14]:
movies.dtypes

Rank       int64
Studio    object
Gross     object
Year       int64
dtype: object

Find a 500 row in the df

In [16]:
movies.iloc[499]

Rank           500
Studio         Fox
Gross     $288.30
Year          2018
Name: Maze Runner: The Death Cure, dtype: object

Find data about Forrest Gump movie.

In [17]:
movies.loc['Forrest Gump']

Rank            119
Studio    Paramount
Gross      $677.90
Year           1994
Name: Forrest Gump, dtype: object

Find last five new movies

In [19]:
movies.sort_values(by='Year', ascending=False).head()

,Rank,Studio,Gross,Year
Title,,,,
Avengers: Endgame,1,Buena Vista,"$2,796.30",2019
John Wick: Chapter 3 - Parabellum,458,Lionsgate,$304.70,2019
The Wandering Earth,114,China Film Corporation,$699.80,2019
Toy Story 4,198,Buena Vista,$519.80,2019
How to Train Your Dragon: The Hidden World,199,Universal,$519.80,2019

Sort movies by a couple columns

In [20]:
movies.sort_values(by=['Studio','Year']).head()

                         Rank       Studio     Gross  Year
Title
The Blair Witch Project   588      Artisan  $248.60   1999
101 Dalmatians            708  Buena Vista  $215.90   1961
The Jungle Book           755  Buena Vista  $205.80   1967
Who Framed Roger Rabbit   410  Buena Vista  $329.80   1988
Dead Poets Society        636  Buena Vista  $235.90   1989

Sort by index

In [22]:
movies.sort_index().head()

                  Rank           Studio     Gross  Year
Title
10,000 B.C.        536  Warner Brothers  $269.80   2008
101 Dalmatians     708      Buena Vista  $215.90   1961
101 Dalmatians     425      Buena Vista  $320.70   1996
2 Fast 2 Furious   632        Universal  $236.40   2003
2012                93             Sony  $769.70   2009

#### Counting values in a Series

Retrieve Studio column

In [23]:
movies['Studio']

Title
Avengers: Endgame                   Buena Vista
Avatar                                      Fox
Titanic                               Paramount
Star Wars: The Force Awakens        Buena Vista
Avengers: Infinity War              Buena Vista
                                     ...
Yogi Bear                       Warner Brothers
Garfield: The Movie                         Fox
Cats & Dogs                     Warner Brothers
The Hunt for Red October              Paramount
Valkyrie                                    MGM
Name: Studio, Length: 782, dtype: object

Ten more successful studios

In [24]:
movies['Studio'].value_counts().head(10)

Studio
Warner Brothers    132
Buena Vista        125
Fox                117
Universal          109
Sony                86
Paramount           76
Dreamworks          27
Lionsgate           21
New Line            16
MGM                 11
Name: count, dtype: int64

#### Filtering a Column by One or More Criteria

Movies that were released by Universal Studios.

In [32]:
movies[movies['Studio'] == 'Universal']

                                Rank     Studio       Gross  Year
Title
Jurassic World                     6  Universal  $1,671.70   2015
Furious 7                          8  Universal  $1,516.00   2015
Jurassic World: Fallen Kingdom    13  Universal  $1,309.50   2018
The Fate of the Furious           17  Universal  $1,236.00   2017
Minions                           19  Universal  $1,159.40   2015
...                              ...        ...         ...   ...
The Break-Up                     763  Universal    $205.00   2006
Everest                          766  Universal    $203.40   2015
Patch Adams                      772  Universal    $202.30   1998
Kindergarten Cop                 775  Universal    $202.00   1990
Straight Outta Compton           776  Universal    $201.60   2015

[109 rows x 4 columns]

Movies that were released by Universal Studios. Using a variable

In [36]:
released_by_universal = (movies['Studio'] == 'Universal')
movies[released_by_universal].head()

                                Rank     Studio       Gross  Year
Title
Jurassic World                     6  Universal  $1,671.70   2015
Furious 7                          8  Universal  $1,516.00   2015
Jurassic World: Fallen Kingdom    13  Universal  $1,309.50   2018
The Fate of the Furious           17  Universal  $1,236.00   2017
Minions                           19  Universal  $1,159.40   2015

Movies that were released by Universal Studios and released in 2015

In [37]:
released_by_universal = (movies['Studio'] == 'Universal')
released_in_2015 = (movies['Year'] == 2015)
movies[released_by_universal & released_in_2015].head()

                      Rank     Studio       Gross  Year
Title
Jurassic World           6  Universal  $1,671.70   2015
Furious 7                8  Universal  $1,516.00   2015
Minions                 19  Universal  $1,159.40   2015
Fifty Shades of Grey   165  Universal    $571.00   2015
Pitch Perfect 2        504  Universal    $287.50   2015

Movies released by Universal Studios OR released in 2015

In [39]:
released_by_universal = (movies['Studio'] == 'Universal')
released_in_2015 = (movies['Year'] == 2015)
movies[released_by_universal | released_in_2015].head()

                                Rank       Studio       Gross  Year
Title
Star Wars: The Force Awakens       4  Buena Vista  $2,068.20   2015
Jurassic World                     6    Universal  $1,671.70   2015
Furious 7                          8    Universal  $1,516.00   2015
Avengers: Age of Ultron            9  Buena Vista  $1,405.40   2015
Jurassic World: Fallen Kingdom    13    Universal  $1,309.50   2018

Movies released before 1975

In [44]:
before_1975 = (movies['Year'] < 1975)
movies[before_1975].head()

                    Rank           Studio     Gross  Year
Title
The Exorcist         252  Warner Brothers  $441.30   1973
Gone with the Wind   288              MGM  $402.40   1939
Bambi                540              RKO  $267.40   1942
The Godfather        604        Paramount  $245.10   1972
101 Dalmatians       708      Buena Vista  $215.90   1961

Movies released between 1983 and 1986

In [47]:
mid_80s = (movies['Year'].between(1975,1986))
movies[mid_80s].head()

                             Rank     Studio     Gross  Year
Title
E.T.: The Extra-Terrestrial    84  Universal  $792.90   1982
Star Wars                      91        Fox  $775.40   1977
The Empire Strikes Back       184        Fox  $538.40   1980
Return of the Jedi            222        Fox  $475.10   1983
Jaws                          228  Universal  $470.70   1975

Find movies with a name like '%dark%'. Using index, string lowercase and search with string contains.

In [50]:
has_dark_in_title = movies.index.str.lower().str.contains('dark')
movies[has_dark_in_title].head()

                                Rank           Studio       Gross  Year
Title
Transformers: Dark of the Moon    23        Paramount  $1,123.80   2011
The Dark Knight Rises             27  Warner Brothers  $1,084.90   2012
The Dark Knight                   39  Warner Brothers  $1,004.90   2008
Thor: The Dark World             132      Buena Vista    $644.60   2013
Star Trek Into Darkness          232        Paramount    $467.40   2013

#### Grouping Data

Find studios with the highest gross

In [ ]:
movies["Gross"] = (
    movies["Gross"]
    .str.replace("$", "", regex = False)
    .str.replace(",", "", regex = False)
    .astype(float)
)

In [74]:
movies["Gross"].head()

Title
Avengers: Endgame               2796.3
Avatar                          2789.7
Titanic                         2187.5
Star Wars: The Force Awakens    2068.2
Avengers: Infinity War          2048.4
Name: Gross, dtype: float64

In [70]:
movies.dtypes

Rank        int64
Studio     object
Gross     float64
Year        int64
dtype: object

Find mean value for all movies by Gross

In [76]:
movies['Gross'].mean().__round__(2)

439.03

Count movies group by Studios

In [ ]:
studios = movies.groupby('Studio')
# count of movies per studio
studios['Gross'].count().head()

Studio
Artisan                     1
Buena Vista               125
CL                          1
China Film Corporation      1
Columbia                    5
Name: Gross, dtype: int64

Sort number of movies by values

In [84]:
studios['Gross'].count().sort_values(ascending=False).head()

Studio
Warner Brothers    132
Buena Vista        125
Fox                117
Universal          109
Sony                86
Name: Gross, dtype: int64

Summarize all values by Gross for all studios

In [86]:
studios['Gross'].sum().sort_values(ascending=False).head()

Studio
Buena Vista        73585.0
Warner Brothers    58643.8
Fox                50420.8
Universal          44302.3
Sony               32822.5
Name: Gross, dtype: float64