### Import Data

In [1]:
import pandas as pd

### MultiIndex theory

**The list of tuples**

In [2]:
addresses = [
("8809 Flair Square", "Toddside", "IL", "37206"),
("9901 Austin Street", "Toddside", "IL", "37206"),
("905 Hogan Quarter", "Franklin", "IL", "37206"),
]

**Create a MultiIndex**

In [3]:
pd.MultiIndex.from_tuples(tuples = addresses)

MultiIndex([( '8809 Flair Square', 'Toddside', 'IL', '37206'),
            ('9901 Austin Street', 'Toddside', 'IL', '37206'),
            ( '905 Hogan Quarter', 'Franklin', 'IL', '37206')],
           )

In [4]:
row_index = pd.MultiIndex.from_tuples(
tuples = addresses,
names = ["Street", "City", "State", "Zip"]
)

In [5]:
row_index

MultiIndex([( '8809 Flair Square', 'Toddside', 'IL', '37206'),
            ('9901 Austin Street', 'Toddside', 'IL', '37206'),
            ( '905 Hogan Quarter', 'Franklin', 'IL', '37206')],
           names=['Street', 'City', 'State', 'Zip'])

**Our dataframe**

In [6]:
data = [
["A", "B+"],
["C+", "C"],
["D-", "A"],
]

In [7]:
columns = ["Schools", "Cost of Living"]

In [8]:
area_grades = pd.DataFrame(
data = data, index = row_index, columns = columns
)

In [9]:
area_grades

                                        Schools Cost of Living
Street             City     State Zip
8809 Flair Square  Toddside IL    37206       A             B+
9901 Austin Street Toddside IL    37206      C+              C
905 Hogan Quarter  Franklin IL    37206      D-              A

In [10]:
area_grades.columns

Index(['Schools', 'Cost of Living'], dtype='object')

**Create a second dataframe**

In [11]:
column_index = pd.MultiIndex.from_tuples(
    [
        ("Culture", "Restaurants"),
        ("Culture", "Museums"),
        ("Services", "Police"),
        ("Services", "Schools"),
    ]
)

In [12]:
column_index

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [13]:
data = [
["C-", "B+", "B-", "A"],
["D+", "C", "A", "C+"],
["A-", "A", "D+", "F"]
]

In [14]:
pd.DataFrame(
data = data, index = row_index, columns = column_index
)

                                            Culture         Services
                                        Restaurants Museums   Police Schools
Street             City     State Zip
8809 Flair Square  Toddside IL    37206          C-      B+       B-       A
9901 Austin Street Toddside IL    37206          D+       C        A      C+
905 Hogan Quarter  Franklin IL    37206          A-       A       D+       F

### MultiIndex DataFrames

In [15]:
neighborhoods_path = '/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 7 MultiIndex/Data/neighborhoods.csv'

**index_col attribute will create MultiIndex for columns 0,1,2 and header will use first two rows like header of column**

In [16]:
df_neighborhoods = pd.read_csv(neighborhoods_path,index_col=[0,1,2],header=[0,1])
df_neighborhoods.head()

                                             Culture         Services
                                         Restaurants Museums   Police Schools
State City             Street
MO    Fisherborough    244 Tracy View             C+       F       D-      A+
SD    Port Curtisville 446 Cynthia Inlet          C-       B        B      D+
WV    Jimenezview      432 John Common             A      A+        F       B
AK    Stevenshire      238 Andrew Rue             D-       A       A-      A-
ND    New Joshuaport   877 Walter Neck            D+      C-        B       B

In [17]:
df_neighborhoods.index.names

FrozenList(['State', 'City', 'Street'])

In [18]:
df_neighborhoods.columns

MultiIndex([( 'Culture', 'Restaurants'),
            ( 'Culture',     'Museums'),
            ('Services',      'Police'),
            ('Services',     'Schools')],
           )

In [19]:
df_neighborhoods.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 251 entries, ('MO', 'Fisherborough', '244 Tracy View') to ('NE', 'South Kennethmouth', '346 Wallace Pass')
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   (Culture, Restaurants)  251 non-null    object
 1   (Culture, Museums)      251 non-null    object
 2   (Services, Police)      251 non-null    object
 3   (Services, Schools)     251 non-null    object
dtypes: object(4)
memory usage: 27.1+ KB

#### get_level_values method

**df_neighborhoods.index.get_level_values(1) returns a second value of our MultiIndex => City**

In [20]:
df_neighborhoods.index.get_level_values(1)  # returns a second value of our MultiIndex => City

Index(['Fisherborough', 'Port Curtisville', 'Jimenezview', 'Stevenshire',
       'New Joshuaport', 'Wellsville', 'Jodiburgh', 'Lake Christopher',
       'Port Mike', 'Hardyburgh',
       ...
       'Scottstad', 'Port Willieport', 'Port Linda', 'Kaylamouth',
       'Port Shawnfort', 'North Matthew', 'Chadton', 'Diazmouth', 'Laurentown',
       'South Kennethmouth'],
      dtype='object', name='City', length=251)

**columns levels are empty, let's create names for them**

In [21]:
df_neighborhoods.columns.names

FrozenList([None, None])

In [22]:
df_neighborhoods.columns.names = ["Category", "Subcategory"]
df_neighborhoods.columns.names

FrozenList(['Category', 'Subcategory'])

**Now we have different level for our columns - Category: Culture,Services and Subcategory:Restaurants,Museums,Police,Schools**

In [23]:
print(df_neighborhoods.head())

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
State City             Street
MO    Fisherborough    244 Tracy View             C+       F       D-      A+
SD    Port Curtisville 446 Cynthia Inlet          C-       B        B      D+
WV    Jimenezview      432 John Common             A      A+        F       B
AK    Stevenshire      238 Andrew Rue             D-       A       A-      A-
ND    New Joshuaport   877 Walter Neck            D+      C-        B       B

In [24]:
df_neighborhoods.columns.get_level_values('Category')

Index(['Culture', 'Culture', 'Services', 'Services'], dtype='object', name='Category')

In [25]:
df_neighborhoods.nunique()

Category  Subcategory
Culture   Restaurants    13
          Museums        13
Services  Police         13
          Schools        13
dtype: int64

### Sorting a MultiIndex

In [26]:
df_neighborhoods.head()

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
State City             Street
MO    Fisherborough    244 Tracy View             C+       F       D-      A+
SD    Port Curtisville 446 Cynthia Inlet          C-       B        B      D+
WV    Jimenezview      432 John Common             A      A+        F       B
AK    Stevenshire      238 Andrew Rue             D-       A       A-      A-
ND    New Joshuaport   877 Walter Neck            D+      C-        B       B

**The Sorting will be performed step by step - 1 State, 2 City and 3 Address**

In [27]:
df_neighborhoods.sort_index()

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
WY    Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Martintown     013 Bell Mills                C-       D       A-      B-
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Reneeshire     717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

In [28]:
df_neighborhoods.sort_index(ascending=False).head()

Category                                   Culture         Services
Subcategory                            Restaurants Museums   Police Schools
State City        Street
WY    Reneeshire  717 Patel Square               B      B+        D       A
      Port Jason  624 Faulkner Orchard          A-       F       C+      C+
      Martintown  013 Bell Mills                C-       D       A-      B-
      Lake Nicole 933 Jennifer Burg              C      A+       A-       C
                  754 Weaver Turnpike            B      D-        B       D

#### Multiple sorting

In [29]:
df_neighborhoods.sort_index(ascending=[False,True,False]).head()

Category                                   Culture         Services
Subcategory                            Restaurants Museums   Police Schools
State City        Street
WY    Hardyburgh  227 Andrew Parkway             D      C-       D-       C
      Lake Nicole 933 Jennifer Burg              C      A+       A-       C
                  754 Weaver Turnpike            B      D-        B       D
      Martintown  013 Bell Mills                C-       D       A-      B-
      Port Jason  624 Faulkner Orchard          A-       F       C+      C+

#### Sorting with only one or two values in the MultiIndex using level

In [30]:
df_neighborhoods.sort_index(level='City').head()

Category                                   Culture         Services
Subcategory                            Restaurants Museums   Police Schools
State City        Street
AR    Allisonland 124 Diaz Brooks               C-      A+        F      C+
GA    Amyburgh    941 Brian Expressway           B       B       D-      C+
IA    Amyburgh    163 Heather Neck               F       D       A+      A-
ID    Andrewshire 952 Ellis Drive               C+      A-       C+       A
UT    Baileyfort  919 Stewart Hills             D+      C+        A       C

In [31]:
df_neighborhoods.sort_index(level=['City','Street'], ascending=[True,False]).head()

Category                                   Culture         Services
Subcategory                            Restaurants Museums   Police Schools
State City        Street
AR    Allisonland 124 Diaz Brooks               C-      A+        F      C+
GA    Amyburgh    941 Brian Expressway           B       B       D-      C+
IA    Amyburgh    163 Heather Neck               F       D       A+      A-
ID    Andrewshire 952 Ellis Drive               C+      A-       C+       A
UT    Baileyfort  919 Stewart Hills             D+      C+        A       C

#### Sorting using the axis for columns

*Services, Culture*

In [32]:
print(df_neighborhoods.sort_index(axis='columns',ascending=False).head())

Category                                 Services            Culture
Subcategory                               Schools Police Restaurants Museums
State City             Street
MO    Fisherborough    244 Tracy View          A+     D-          C+       F
SD    Port Curtisville 446 Cynthia Inlet       D+      B          C-       B
WV    Jimenezview      432 John Common          B      F           A      A+
AK    Stevenshire      238 Andrew Rue          A-     A-          D-       A
ND    New Joshuaport   877 Walter Neck          B      B          D+      C-

*Culture,Services*

In [33]:
print(df_neighborhoods.sort_index(axis='columns',ascending=True).head())

Category                                 Culture             Services
Subcategory                              Museums Restaurants   Police Schools
State City             Street
MO    Fisherborough    244 Tracy View          F          C+       D-      A+
SD    Port Curtisville 446 Cynthia Inlet       B          C-        B      D+
WV    Jimenezview      432 John Common        A+           A        F       B
AK    Stevenshire      238 Andrew Rue          A          D-       A-      A-
ND    New Joshuaport   877 Walter Neck        C-          D+        B       B

#### Sorting columns using the level

*Museums   Police Restaurants  Schools*

In [34]:
print(df_neighborhoods.sort_index(axis='columns',level='Subcategory', ascending=True).head())

Category                                 Culture Services     Culture Services
Subcategory                              Museums   Police Restaurants  Schools
State City             Street
MO    Fisherborough    244 Tracy View          F       D-          C+       A+
SD    Port Curtisville 446 Cynthia Inlet       B        B          C-       D+
WV    Jimenezview      432 John Common        A+        F           A        B
AK    Stevenshire      238 Andrew Rue          A       A-          D-       A-
ND    New Joshuaport   877 Walter Neck        C-        B          D+        B

In [35]:
print(df_neighborhoods.sort_index(ascending=True))

Category                                      Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-       A+       C
      Scottstad      082 Leblanc Freeway            D      C-        D      B+
                     114 Jones Garden              D-      D-        D       D
      Stevenshire    238 Andrew Rue                D-       A       A-      A-
AL    Clarkland      430 Douglas Mission            A       F       C+      B+
...                                               ...     ...      ...     ...
WY    Lake Nicole    754 Weaver Turnpike            B      D-        B       D
                     933 Jennifer Burg              C      A+       A-       C
      Martintown     013 Bell Mills                C-       D       A-      B-
      Port Jason     624 Faulkner Orchard          A-       F       C+      C+
      Reneeshire     717 Patel Square               B      B+        D       A

[251 rows x 4 columns]

### Selecting with a MultiIndex

In [36]:
df_neighborhoods["Services"].head()

Subcategory                              Police Schools
State City             Street
MO    Fisherborough    244 Tracy View        D-      A+
SD    Port Curtisville 446 Cynthia Inlet      B      D+
WV    Jimenezview      432 John Common        F       B
AK    Stevenshire      238 Andrew Rue        A-      A-
ND    New Joshuaport   877 Walter Neck        B       B

**df_neighborhoods["Schools"] returns KeyError: 'Schools'**

**SELECT Category and specific subcategory**

In [37]:
df_neighborhoods[("Services", "Schools")]

State  City                Street
MO     Fisherborough       244 Tracy View       A+
SD     Port Curtisville    446 Cynthia Inlet    D+
WV     Jimenezview         432 John Common       B
AK     Stevenshire         238 Andrew Rue       A-
ND     New Joshuaport      877 Walter Neck       B
                                                ..
MI     North Matthew       055 Clayton Isle     C+
MT     Chadton             601 Richards Road     D
SC     Diazmouth           385 Robin Harbors    D+
VA     Laurentown          255 Gonzalez Land    D-
NE     South Kennethmouth  346 Wallace Pass     A-
Name: (Services, Schools), Length: 251, dtype: object

**SELECT a few subcategories**

In [38]:
df_neighborhoods[[("Services", "Schools"), ("Culture", "Museums")]]

Category                                   Services Culture
Subcategory                                 Schools Museums
State City               Street
MO    Fisherborough      244 Tracy View          A+       F
SD    Port Curtisville   446 Cynthia Inlet       D+       B
WV    Jimenezview        432 John Common          B      A+
AK    Stevenshire        238 Andrew Rue          A-       A
ND    New Joshuaport     877 Walter Neck          B      C-
...                                             ...     ...
MI    North Matthew      055 Clayton Isle        C+       C
MT    Chadton            601 Richards Road        D       D
SC    Diazmouth          385 Robin Harbors       D+       D
VA    Laurentown         255 Gonzalez Land       D-      B-
NE    South Kennethmouth 346 Wallace Pass        A-      B-

[251 rows x 2 columns]

**Optimize a query**

In [39]:
columns = [
("Services", "Schools"),
("Culture", "Museums")
]

In [40]:
df_neighborhoods[columns]

Category                                   Services Culture
Subcategory                                 Schools Museums
State City               Street
MO    Fisherborough      244 Tracy View          A+       F
SD    Port Curtisville   446 Cynthia Inlet       D+       B
WV    Jimenezview        432 John Common          B      A+
AK    Stevenshire        238 Andrew Rue          A-       A
ND    New Joshuaport     877 Walter Neck          B      C-
...                                             ...     ...
MI    North Matthew      055 Clayton Isle        C+       C
MT    Chadton            601 Richards Road        D       D
SC    Diazmouth          385 Robin Harbors       D+       D
VA    Laurentown         255 Gonzalez Land       D-      B-
NE    South Kennethmouth 346 Wallace Pass        A-      B-

[251 rows x 2 columns]

#### Extracting One or More Rows with loc

In [41]:
df_neighborhoods.loc[("TX", "Kingchester", "534 Gordon Falls")]

Category  Subcategory
Culture   Restaurants     C
          Museums        D+
Services  Police          B
          Schools         B
Name: (TX, Kingchester, 534 Gordon Falls), dtype: object

**Extract rows with State CA**

In [42]:
df_neighborhoods.loc["CA"]

Category                              Culture         Services
Subcategory                       Restaurants Museums   Police Schools
City           Street
Dustinmouth    793 Cynthia Square          A-      A+       C-       A
Ryanfort       934 David Run                F      B+        F      D-
North Jennifer 303 Alisha Road             D-      C+       C+      A+

**Sort rows and columns to avoid warning messages**

In [43]:
df_neighborhoods.sort_index(inplace=True)

**Extract by State and City**

In [44]:
df_neighborhoods.loc[("CA", "Dustinmouth")]

Category               Culture         Services
Subcategory        Restaurants Museums   Police Schools
Street
793 Cynthia Square          A-      A+       C-       A

**Extract by State and Category**

In [45]:
df_neighborhoods.loc[("CA", "Culture")]

Subcategory                       Restaurants Museums
City           Street
Dustinmouth    793 Cynthia Square          A-      A+
North Jennifer 303 Alisha Road             D-      C+
Ryanfort       934 David Run                F      B+

**Extract by State, City and Subcategory**

In [46]:
df_neighborhoods.loc[("CA", "Dustinmouth"), ("Services",)]

Subcategory        Police Schools
Street
793 Cynthia Square     C-       A

**Extract by slicing**

In [47]:
df_neighborhoods["CA":"NH"]

Subcategory                               Restaurants Museums
State City           Street
AK    Rowlandchester 386 Rebecca Cove              C-      A-
      Scottstad      082 Leblanc Freeway            D      C-
                     114 Jones Garden              D-      D-
      Stevenshire    238 Andrew Rue                D-       A
AL    Clarkland      430 Douglas Mission            A       F
...                                               ...     ...
WY    Lake Nicole    754 Weaver Turnpike            B      D-
                     933 Jennifer Burg              C      A+
      Martintown     013 Bell Mills                C-       D
      Port Jason     624 Faulkner Orchard          A-       F
      Reneeshire     717 Patel Square               B      B+

[251 rows x 2 columns]

In [48]:
df_neighborhoods.loc[("NE", "Shawnchester"):("NH", "North Latoya")]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+

Category
Subcategory                                   Schools
State City               Street
NE    Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-

**Optimize a query**

In [49]:
start = ("NE", "Shawnchester")
end = ("NH", "North Latoya")
df_neighborhoods.loc[start:end]

Category                                          Culture         Services  \
Subcategory                                   Restaurants Museums   Police
State City               Street
NE    Shawnchester       802 Cook Cliff                D-      D+        D
      South Kennethmouth 346 Wallace Pass              C-      B-        A
      South Nathan       821 Jake Fork                 C+       D       D+
NH    Courtneyfort       697 Spencer Isle              A+      A+       C+
      East Deborahberg   271 Ryan Mount                 B       C       D+
      Ingramton          430 Calvin Underpass          C+      D+        C
      North Latoya       603 Clark Mount               D-      A-       B+

Category
Subcategory                                   Schools
State City               Street
NE    Shawnchester       802 Cook Cliff             A
      South Kennethmouth 346 Wallace Pass          A-
      South Nathan       821 Jake Fork              A
NH    Courtneyfort       697 Spencer Isle          A+
      East Deborahberg   271 Ryan Mount            B-
      Ingramton          430 Calvin Underpass      C-
      North Latoya       603 Clark Mount           B-

### Extracting One or More Columns

In [50]:
df_neighborhoods.iloc[25]

Category  Subcategory
Culture   Restaurants    A+
          Museums         A
Services  Police         A+
          Schools        C+
Name: (CT, East Jessicaland, 208 Todd Knolls), dtype: object

**Specific value**

In [51]:
df_neighborhoods.iloc[25, 3]

'C+'

**Two records**

In [52]:
df_neighborhoods.iloc[[25, 30]]

Category                                   Culture         Services
Subcategory                            Restaurants Museums   Police Schools
State City             Street
CT    East Jessicaland 208 Todd Knolls          A+       A       A+      C+
DC    East Lisaview    910 Sandy Ramp           A-      A+        B       B

**Slicing**

In [53]:
df_neighborhoods.iloc[25:30]

Category                                       Culture         Services  \
Subcategory                                Restaurants Museums   Police
State City             Street
CT    East Jessicaland 208 Todd Knolls              A+       A       A+
      New Adrianhaven  048 Brian Cove               A-      C+       A+
      Port Mike        410 Keith Lodge              D-       A       B+
      Sethstad         139 Bailey Grove              C      C-       C+
DC    East Jessica     149 Norman Crossing          A-      C-       C+

Category
Subcategory                                Schools
State City             Street
CT    East Jessicaland 208 Todd Knolls          C+
      New Adrianhaven  048 Brian Cove           D-
      Port Mike        410 Keith Lodge           D
      Sethstad         139 Bailey Grove         A+
DC    East Jessica     149 Norman Crossing      A-

**Slicing with specific columns**

In [54]:
df_neighborhoods.iloc[25:30, 1:3]

Category                                   Culture Services
Subcategory                                Museums   Police
State City             Street
CT    East Jessicaland 208 Todd Knolls           A       A+
      New Adrianhaven  048 Brian Cove           C+       A+
      Port Mike        410 Keith Lodge           A       B+
      Sethstad         139 Bailey Grove         C-       C+
DC    East Jessica     149 Norman Crossing      C-       C+

**Slicing from the end**

In [55]:
df_neighborhoods.iloc[-4:, -2:]

Category                               Services
Subcategory                              Police Schools
State City        Street
WY    Lake Nicole 933 Jennifer Burg          A-       C
      Martintown  013 Bell Mills             A-      B-
      Port Jason  624 Faulkner Orchard       C+      C+
      Reneeshire  717 Patel Square            D       A

### Cross Sections

**Find all addresses in the city Lake Nicole**

In [56]:
df_neighborhoods.xs(key = "Lake Nicole", level = 1)

Category                      Culture         Services
Subcategory               Restaurants Museums   Police Schools
State Street
OR    650 Angela Track              D      C-        D       F
WY    754 Weaver Turnpike           B      D-        B       D
      933 Jennifer Burg             C      A+       A-       C

In [57]:
df_neighborhoods.xs(key = "Lake Nicole", level = "City")

Category                      Culture         Services
Subcategory               Restaurants Museums   Police Schools
State Street
OR    650 Angela Track              D      C-        D       F
WY    754 Weaver Turnpike           B      D-        B       D
      933 Jennifer Burg             C      A+       A-       C

**Extract columns with Subcategory "Museums"**

In [58]:
df_neighborhoods.xs(key = "Museums", level = "Subcategory", axis = 1)

Category                                  Culture
State City           Street
AK    Rowlandchester 386 Rebecca Cove          A-
      Scottstad      082 Leblanc Freeway       C-
                     114 Jones Garden          D-
      Stevenshire    238 Andrew Rue             A
AL    Clarkland      430 Douglas Mission        F
...                                           ...
WY    Lake Nicole    754 Weaver Turnpike       D-
                     933 Jennifer Burg         A+
      Martintown     013 Bell Mills             D
      Port Jason     624 Faulkner Orchard       F
      Reneeshire     717 Patel Square          B+

[251 rows x 1 columns]

**Extract columns using MultiIndex values**

In [59]:
df_neighborhoods.xs(key = ("AK", "238 Andrew Rue"), level = ["State", "Street"])

Category        Culture         Services
Subcategory Restaurants Museums   Police Schools
City
Stevenshire          D-       A       A-      A-

### Manipulating the Index

#### Resetting the Index

**('State', 'City', 'Street')**

In [60]:
df_neighborhoods.head()

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
State City           Street
AK    Rowlandchester 386 Rebecca Cove             C-      A-       A+       C
      Scottstad      082 Leblanc Freeway           D      C-        D      B+
                     114 Jones Garden             D-      D-        D       D
      Stevenshire    238 Andrew Rue               D-       A       A-      A-
AL    Clarkland      430 Douglas Mission           A       F       C+      B+

**('City', 'State', 'Street')**

In [61]:
new_order = ["City", "State", "Street"]
df_neighborhoods.reorder_levels(order = new_order).head()

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
City           State Street
Rowlandchester AK    386 Rebecca Cove             C-      A-       A+       C
Scottstad      AK    082 Leblanc Freeway           D      C-        D      B+
                     114 Jones Garden             D-      D-        D       D
Stevenshire    AK    238 Andrew Rue               D-       A       A-      A-
Clarkland      AL    430 Douglas Mission           A       F       C+      B+

In [62]:
df_neighborhoods.reorder_levels(order = [1, 0, 2]).head()

Category                                     Culture         Services
Subcategory                              Restaurants Museums   Police Schools
City           State Street
Rowlandchester AK    386 Rebecca Cove             C-      A-       A+       C
Scottstad      AK    082 Leblanc Freeway           D      C-        D      B+
                     114 Jones Garden             D-      D-        D       D
Stevenshire    AK    238 Andrew Rue               D-       A       A-      A-
Clarkland      AL    430 Douglas Mission           A       F       C+      B+

**Reset index**

In [63]:
print(df_neighborhoods.reset_index().tail())

Category    State         City                Street     Culture          \
Subcategory                                          Restaurants Museums
246            WY  Lake Nicole   754 Weaver Turnpike           B      D-
247            WY  Lake Nicole     933 Jennifer Burg           C      A+
248            WY   Martintown        013 Bell Mills          C-       D
249            WY   Port Jason  624 Faulkner Orchard          A-       F
250            WY   Reneeshire      717 Patel Square           B      B+

Category    Services
Subcategory   Police Schools
246                B       D
247               A-       C
248               A-      B-
249               C+      C+
250                D       A

**Point the level for Index values State,City and Street**

In [64]:
print(df_neighborhoods.reset_index(col_level = "Subcategory").tail())

Category                                                 Culture          \
Subcategory State         City                Street Restaurants Museums
246            WY  Lake Nicole   754 Weaver Turnpike           B      D-
247            WY  Lake Nicole     933 Jennifer Burg           C      A+
248            WY   Martintown        013 Bell Mills          C-       D
249            WY   Port Jason  624 Faulkner Orchard          A-       F
250            WY   Reneeshire      717 Patel Square           B      B+

Category    Services
Subcategory   Police Schools
246                B       D
247               A-       C
248               A-      B-
249               C+      C+
250                D       A

In [65]:
print(df_neighborhoods.reset_index(col_fill = "Address", col_level = "Subcategory").tail())

Category    Address                                        Culture          \
Subcategory   State         City                Street Restaurants Museums
246              WY  Lake Nicole   754 Weaver Turnpike           B      D-
247              WY  Lake Nicole     933 Jennifer Burg           C      A+
248              WY   Martintown        013 Bell Mills          C-       D
249              WY   Port Jason  624 Faulkner Orchard          A-       F
250              WY   Reneeshire      717 Patel Square           B      B+

Category    Services
Subcategory   Police Schools
246                B       D
247               A-       C
248               A-      B-
249               C+      C+
250                D       A

**Raise up to external level**

In [66]:
print(df_neighborhoods.reset_index(level = ["Street", "City"]).tail())

Category            City                Street     Culture         Services  \
Subcategory                                    Restaurants Museums   Police
State
WY           Lake Nicole   754 Weaver Turnpike           B      D-        B
WY           Lake Nicole     933 Jennifer Burg           C      A+       A-
WY            Martintown        013 Bell Mills          C-       D       A-
WY            Port Jason  624 Faulkner Orchard          A-       F       C+
WY            Reneeshire      717 Patel Square           B      B+        D

Category
Subcategory Schools
State
WY                D
WY                C
WY               B-
WY               C+
WY                A

**Remove a level**

In [67]:
print(df_neighborhoods.reset_index(level = "Street", drop = True).tail())

Category              Culture         Services
Subcategory       Restaurants Museums   Police Schools
State City
WY    Lake Nicole           B      D-        B       D
      Lake Nicole           C      A+       A-       C
      Martintown           C-       D       A-      B-
      Port Jason           A-       F       C+      C+
      Reneeshire            B      B+        D       A

### Setting the Index

In [68]:
df_neighborhoods = df_neighborhoods.reset_index()

In [69]:
print(df_neighborhoods.head())

Category    State            City               Street     Culture          \
Subcategory                                            Restaurants Museums
0              AK  Rowlandchester     386 Rebecca Cove          C-      A-
1              AK       Scottstad  082 Leblanc Freeway           D      C-
2              AK       Scottstad     114 Jones Garden          D-      D-
3              AK     Stevenshire       238 Andrew Rue          D-       A
4              AL       Clarkland  430 Douglas Mission           A       F

Category    Services
Subcategory   Police Schools
0                 A+       C
1                  D      B+
2                  D       D
3                 A-      A-
4                 C+      B+

In [70]:
print(df_neighborhoods.set_index(keys = "City").head())

Category       State               Street     Culture         Services
Subcategory                               Restaurants Museums   Police Schools
City
Rowlandchester    AK     386 Rebecca Cove          C-      A-       A+       C
Scottstad         AK  082 Leblanc Freeway           D      C-        D      B+
Scottstad         AK     114 Jones Garden          D-      D-        D       D
Stevenshire       AK       238 Andrew Rue          D-       A       A-      A-
Clarkland         AL  430 Douglas Mission           A       F       C+      B+

In [71]:
print(df_neighborhoods.set_index(keys = ("Culture", "Museums")).head())

Category           State            City               Street     Culture  \
Subcategory                                                   Restaurants
(Culture, Museums)
A-                    AK  Rowlandchester     386 Rebecca Cove          C-
C-                    AK       Scottstad  082 Leblanc Freeway           D
D-                    AK       Scottstad     114 Jones Garden          D-
A                     AK     Stevenshire       238 Andrew Rue          D-
F                     AL       Clarkland  430 Douglas Mission           A

Category           Services
Subcategory          Police Schools
(Culture, Museums)
A-                       A+       C
C-                        D      B+
D-                        D       D
A                        A-      A-
F                        C+      B+

In [72]:
print(df_neighborhoods.set_index(keys = ["State", "City"]).head())

Category                           Street     Culture         Services
Subcategory                               Restaurants Museums   Police Schools
State City
AK    Rowlandchester     386 Rebecca Cove          C-      A-       A+       C
      Scottstad       082 Leblanc Freeway           D      C-        D      B+
      Scottstad          114 Jones Garden          D-      D-        D       D
      Stevenshire          238 Andrew Rue          D-       A       A-      A-
AL    Clarkland       430 Douglas Mission           A       F       C+      B+

### Task

In [88]:
investments_path = '/Users/ypushiev/Learning/PANDAS IN ACTION/Chapter 7 MultiIndex/Data/investments.csv'

In [89]:
df_investments = pd.read_csv(investments_path)
print(df_investments.head())

                 Name    Market     Status State  Funding Rounds
0            #waywire      News   Acquired    NY               1
1  &TV Communications     Games  Operating    CA               2
2  -R- Ranch and Mine   Tourism  Operating    TX               2
3    004 Technologies  Software  Operating    IL               1
4             1-4 All  Software  Operating    NC               1

In [90]:
df_investments.nunique()

Name              27763
Market              693
Status                3
State                61
Funding Rounds       16
dtype: int64

**Set index**

In [91]:
df_investments = df_investments.set_index(keys = ["Status","Funding Rounds", "State"]).sort_index()

In [92]:
print(df_investments.head())

                                                   Name               Market
Status   Funding Rounds State
Acquired 1              AB               Hallpass Media                Games
                        AL                    EnteGreat  Enterprise Software
                        AL     Onward Behavioral Health        Biotechnology
                        AL                      Proxsys        Biotechnology
                        AZ                  Envox Group     Public Relations

**Extract rows with Closed status**

In [93]:
df_investments.loc[("Closed",)].head()

                                             Name                Market
Funding Rounds State
1              AB     Cardinal Media Technologies  Social Network Media
               AB                Easy Bill Online              Tracking
               AB                   Globel Direct      Public Relations
               AB               Ph03nix New Media                 Games
               AL                           Naubo                  News

**Extract rows with Acquired status and 10 Rounds**

In [94]:
df_investments.xs(("Acquired", 10), level=("Status", "Funding Rounds"))

                   Name       Market
State
NY     Genesis Networks  Web Hosting
TX       ACTIVE Network     Software

**Extract "Operating" status, 6 rounds and state NJ**

In [95]:
df_investments.loc[("Operating", 6, "NJ")].head()

                                              Name             Market
Status    Funding Rounds State
Operating 6              NJ     Agile Therapeutics      Biotechnology
                         NJ               Agilence  Retail Technology
                         NJ      Edge Therapeutics      Biotechnology
                         NJ                Nistica        Web Hosting

**Extract Closed status 8 rounds and Name column only**

In [96]:
df_investments.loc[("Closed", 8), ('Name',)].head()

                     Name
State
CA              CipherMax
CA     Dilithium Networks
CA                Moblyng
CA               SolFocus
CA               Solyndra

**Extract rows with NJ state**

In [97]:
df_investments.xs(key = "NJ", level = 2).head()

                                    Name               Market
Status   Funding Rounds
Acquired 1                         AkaRx        Biotechnology
         1                Aptalis Pharma        Biotechnology
         1                        Cadent             Software
         1               Cancer Genetics  Health And Wellness
         1                     Clacendix           E-Commerce

**Revert index updates**

In [98]:
df_investments= df_investments.reset_index()
print(df_investments.head())

     Status  Funding Rounds State                      Name  \
0  Acquired               1    AB            Hallpass Media
1  Acquired               1    AL                 EnteGreat
2  Acquired               1    AL  Onward Behavioral Health
3  Acquired               1    AL                   Proxsys
4  Acquired               1    AZ               Envox Group

                Market
0                Games
1  Enterprise Software
2        Biotechnology
3        Biotechnology
4     Public Relations